{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
          content="Educational platform with an extended contribution option and a lighter version for users from the less developed countries.">
    <meta name="author" content="Dmitry Semenov<moxnrl@gmail.com>">
    {#<link rel="icon" href=""> @todo generate some fav #}

    <title>{% block title %}CleverBird platform{% endblock %}</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">

    {% block stylesheets %}
        {% stylesheets filter="compass"
            'bundles/cleverbird/css/styles.sass'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
{% include '@CleverBird/Partials/navbar.html.twig' %}
{% if app.session.flashbag.keys > 0 %}
    <div class="container">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Well done!</strong> {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% block body %}{% endblock %}
<div class="container">
    <footer class="footer">
        <p>&copy; {{ 'now'|date('Y') }} Muffin Man. Project created on <a href="https://koding.com">koding</a> hackathon.</p>
    </footer>
</div>
{% block javascripts %}
    {% javascripts
        'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
        'bundles/cleverbird/js/scripts.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
{% endspaceless %}