<div class="row">
    {% for course in courses %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default{% if course.type == 3 %} finished-course{% endif %}">
            <div class="panel-heading">
                {% if course.user == app.user %}
                    <a href="{{ path('course_edit', { 'id': course.id }) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                {% endif %}
                {% if course.type == 1 %}
                    <span class="glyphicon glyphicon-ok-circle"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Self-Paced Course"></span>
                {% elseif course.type == 2 %}
                    <span class="glyphicon glyphicon-calendar"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Time Driven Course, starts at {{ course.startDate | date('m/d/y') }}"></span>
                {% else %}
                    <span class="glyphicon glyphicon-off"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Finished Course, finished at {{ course.endDate | date('m/d/y') }}"></span>
                {% endif %}
                <a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.name }}</a>
            </div>
            <div class="panel-body">
                <p>{{ course.description }}</p>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="{{ path('profile', { 'id': course.user.id }) }}">
                            <img src="{{ course.user.avatar }}&s=40" width="20" height="20" alt="{{ course.user.username }}"/>
                        </a>
                    </div>
                    <div class="col-xs-9">
                        <a href="{{ path('profile', { 'id': course.user.id }) }}">{{ course.user.username }}</a>
                        <p>Created: {{ course.created | date('m/d/y') }}</p>
                    </div>
                    <div class="col-xs-12">
                        <div class="rating">
                            <div class="btn-group" role="group">
                                {% for i in 1..5 %}
                                    <button type="button" class="btn btn-default btn-xs" disabled="disabled">
                                        <span class="glyphicon glyphicon-star{% if i >= 5 %}-empty{% endif %}"></span>
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
