{% extends '@CleverBird/Layouts/main.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter="compass"
        'bundles/cleverbird/css/courses-tiles.sass'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('clever_bird_homepage') }}">Home</a></li>
                    <li class="active">Courses list</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="m-top-0">
                    Courses list
                    <a href="{{ path('courses_list_light') }}"
                       class="btn btn-default btn-xs pull-right"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Browse light version">
                        <span class="glyphicon glyphicon-leaf"></span>
                    </a>
                </h1>
            </div>
        </div>
        <hr/>
    </div>
    {% if courses %}
        {% include '@CleverBird/Partials/course-grid.html.twig' %}
    {% else %}
        <div class="container">
            <div class="alert alert-info">
                Currently we didn't have any courses, but you can <a href="{{ path('course_new') }}">create</a> the first one!
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'vendor/masonry/dist/masonry.pkgd.min.js'
        'bundles/cleverbird/js/courses-tiles.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
