{% extends '@CleverBird/Layouts/main.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter="compass"
    'bundles/cleverbird/css/courses-tiles.sass'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{{ path('clever_bird_homepage') }}">Home</a></li>
                    <li>Profiles</li>
                    <li class="active">Profiles</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="m-top-0">{% if profile.courses %}Teacher{% else %}Student{% endif %} {{ profile.username }}</h1>
                <div class="col-xs-12 col-sm-6">
                    <img src="{{ profile.avatar }}&size=600" width="300" alt="{{ profile.username }}" />
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>
                        Registered on: <span class="label label-default">{{ profile.joinDate | date }}</span>
                    </p>
                    <a href="mailto:{{ profile.email }}" class="btn btn-primary btn-lg btn-block">Send Email to user</a>
                </div>
            </div>
        </div>
        {% if profile.courses %}
            <div class="row">
                <div class="col-xs-12">
                    <hr/>
                    <h2>Courses of the user:</h2>
                </div>
            </div>
        </div>
            {% include '@CleverBird/Partials/course-grid.html.twig' with {'courses': profile.courses} %}
        <div class="container">
        {% endif %}

        {% if profile.participants %}
            <div class="row">
                <div class="col-xs-12">
                    <hr/>
                    <h2>User are trained in:</h2>
                </div>
            </div>
            <table class="table table-bordered table-responsive table-hover">
                {% for participant in profile.participants %}
                    <tr>
                        <td>
                            <a href="{{ path('course_show', {'id': participant.course.id }) }}">{{ participant.course.name }}</a>
                        </td>
                        <td>
                            <span class="label label-default">{{ participant.joinDate | date }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% include '@CleverBird/Partials/course-grid.html.twig' with {'courses': profile.courses} %}
        <div class="container">
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'vendor/masonry/dist/masonry.pkgd.min.js'
    'bundles/cleverbird/js/courses-tiles.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
